* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-top: 0;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-family: 'Times';
    font-size: 20px;
    color: #3B3B3B;
}

.navbar__item {
    height: 80px; 
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    color: #3B3B3B;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FFEFD4;
    color: #3B3B3B;
}

.button:hover {
    background: #dbb574;
    transition: all 0.2s ease;
}

.navbar__links:hover {
    color: #dbb574;
    transition: all 0.2s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.2rem;
    }

    #navbar__logo {
        margin-top: 0;
        padding-left: 25px;
    }

    .navbar__toggle {
        display: block;
        margin-top: 20px;
        margin-right: 30px;
        cursor: pointer;
    }

    .navbar__toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #3B3B3B;
        cursor: pointer;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* hero section */

.main {
    background-color: white;
    color: #3B3B3B;
}

.main__container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    height: 90vh;
    background-color: white;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 40px 40px;
}

.main__content h1 {
    font-family: 'Times';
    font-size: 6rem;
    font-weight: 700;
    padding-left: 100px;
    padding-right: 150px;
}

.main__content h2 {
    font-family: 'Times';
    font-size: 1.5rem;
    padding-left: 100px;
    font-weight: 500;
}


#main__img {
    height: 80%;
    width: 80%;
}


@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
        padding-bottom: 30px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 4rem;
        margin-top: 2rem;
        padding-left: 0;
        padding-right: 0;
        max-width: 70%;
    }

    .main__content h2 {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
    }

    .main__img--container {
        max-width: 500px;
        text-align: center;
    }
}

/* about us */

.about__container {
    width: 100%;
    background-color: #dbb574;
}

.about__wrapper {
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 60px;
}

.about__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.about__content h3 {
    text-align: center;
    color: #3b3b3b;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.about__content p {
    text-align: center;
    color: #3b3b3b;
    line-height: 1.8;
    margin-bottom: 20px;
    max-width: 900px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.learn__more {
    text-align: right;
    color: #3b3b3b;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-right: 160px;
    font-size: 18px;
}

.learn__more:after {
    content: "→";
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .about__container {
        width: 100%;
        background-color: #dbb574;
        margin-top: 50px;
    }
    
    .about__wrapper {
        width: 100%;
        padding: 40px 40px;
        margin-bottom: 60px;
    }
    
    .about__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0;
    }
    
    .about__content h3 {
        text-align: center;
        color: #3b3b3b;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .about__content p {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
    }

    .learn__more {
        text-align: center;
        margin-right: 0;
        font-size: 16px;
    }

    .learn__more:after {
        content: "→";
        margin-left: 5px;
    }
}

/* Follow us section */

.social__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 20px;
}

.social__content h3 {
    color: #3b3b3b;
    font-size: 40px;
    margin-bottom: 15px;
}

.social__content p {
    color: #3b3b3b;
    margin-bottom: 20px;
    font-size: 18px;
}

.social__icons {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.social__icons a {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .social__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px 40px;
        text-align: center;
    }
    
    .social__content h3 {
        color: #3b3b3b;
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .social__content p {
        color: #3b3b3b;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .social__icons {
        display: flex;
        justify-content: center;
        gap: 50px;
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    
    .social__icons a {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social__icons img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* --------------------- About Us Page ------------------------ */

.about__us__container {
    max-width: 1200px;
    justify-content: center;
    color: #3b3b3b;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 40px;
}

.about__us__content h2 {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about__us__content p {
    font-size: 18px;
    line-height: 1.8;
    padding: 0 40px;
    padding-bottom: 20px;
}

.about__us__content img {
    max-width: 100%;
}

.about__us__content figure {
    padding: 0 40px;
    padding-bottom: 20px;
}

/* members section */
.members__container {
    width: 100%;
    background-color: #dbb574;
    padding: 40px 20px;
    color: #3b3b3b;
}

.members__container h2 {
    text-align: center;
    font-size: 3rem;
    padding-top: 40px;
    margin-bottom: 50px;;
}

.members__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
}

.member__card {
    text-align: center;
}

.member__img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}

.member__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member__name {
    font-size: 18px;
    margin: 2px;
}

@media screen and (max-width: 960px) {
    .about__us__container {
        justify-content: center;
        color: #3b3b3b;
        margin: 0 auto;
        padding: 0 20px;
        padding-bottom: 40px;
    }
    
    .about__us__content h2 {
        font-size: 4rem;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .about__us__content p {
        font-size: 18px;
        line-height: 1.8;
        padding: 0 40px;
        padding-bottom: 20px;
    }
    
    .about__us__content img {
        max-width: 100%;
    }
    
    .about__us__content figure {
        padding: 0 40px;
        padding-bottom: 20px;
    }
    
    /* members section */
    .members__container {
        width: 100%;
        background-color: #dbb574;
        padding: 40px 20px;
        color: #3b3b3b;
    }
    
    .members__container h2 {
        text-align: center;
        font-size: 40px;
        padding-top: 40px;
        margin-bottom: 50px;;
    }
    
    .members__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 40px;
        margin: 0 auto;
    }
    
    .member__card {
        text-align: center;
    }
    
    .member__img {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    
    .member__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .member__name {
        font-size: 18px;
        margin: 2px;
    }
}

@media screen and (max-width: 760px) {
    .about__us__container {
        justify-content: center;
        color: #3b3b3b;
        margin: 0 auto;
        padding: 0 20px;
        padding-bottom: 40px;
    }
    
    .about__us__content h2 {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .about__us__content p {
        font-size: 16px;
        line-height: 1.8;
        padding: 0 40px;
        padding-bottom: 20px;
    }
    
    .about__us__content img {
        max-width: 100%;
    }
    
    .about__us__content figure {
        padding: 0 40px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    
    /* members section */
    .members__container {
        width: 100%;
        background-color: #dbb574;
        padding: 40px 20px;
        color: #3b3b3b;
    }
    
    .members__container h2 {
        text-align: center;
        font-size: 2.5rem;
        padding-top: 40px;
        margin-bottom: 50px;;
    }
    
    .members__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 0 40px;
        margin: 0 auto;
    }
    
    .member__card {
        text-align: center;
    }
    
    .member__img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    
    .member__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .member__name {
        font-size: 16px;
        margin: 2px;
    }
}

@media screen and (max-width: 480px) {
    .about__us__container {
        justify-content: center;
        color: #3b3b3b;
        margin: 0 auto;
        padding: 0 10px;
        padding-bottom: 40px;
    }
    
    .about__us__content h2 {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .about__us__content p {
        font-size: 16px;
        line-height: 1.8;
        padding: 0 30px;
        padding-bottom: 20px;
    }
    
    .about__us__content img {
        max-width: 100%;
    }
    
    .about__us__content figure {
        padding: 0 30px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    
    /* members section */
    .members__container {
        width: 100%;
        background-color: #dbb574;
        padding: 40px 20px;
        color: #3b3b3b;
    }
    
    .members__container h2 {
        text-align: center;
        font-size: 2.5rem;
        padding-top: 40px;
        margin-bottom: 50px;;
    }
    
    .members__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 40px;
        margin: 0 auto;
    }
    
    .member__card {
        text-align: center;
    }
    
    .member__img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    
    .member__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .member__name {
        font-size: 16px;
        margin: 2px;
    }
}

.performances__page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 80px;
    justify-content: center;
}

/* Upcoming Performances Styles */
.upcoming__perf__container {
    background: #FFEFD4;
    border-radius: 10px;
    color: #3b3b3b;
}

.section-title1 {
    font-size: 2.5rem;
    padding-top: 40px;
    text-align: center;
    font-style: italic;
}

.upcoming-performances {
    margin-bottom: 20px;
    padding: 40px 40px;
    padding-top: 10px;
}

.event-title {
    font-size: 1.8rem;
    color: #3b3b3b;
    margin-bottom: 10px;
}

.event-details {
    color: #3b3b3b;
    line-height: 1.6;
    font-size: 18px;
}

.event-details a {
    color: #3B3B3B;
}

/* Previous Performances Styles */
.section-title2 {
    font-size: 4rem;
    color: #3b3b3b;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.performance-item {
    margin-bottom: 40px;
}

.performance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.performance-title {
    font-size: 2rem;
    color: #3b3b3b;
    margin: 0;
}

.performance-date {
    color: #666;
    font-style: italic;
    font-size: 18px;
}

.performance-description {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 18px;
    color: #3b3b3b;
}

.performance-image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.performance-image img {
    width: 100%;
    height: auto;
    display: block;
}


/* Responsive Design */
@media (max-width: 768px) {
    .event-info {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .section-title1 {
        font-size: 2.2rem;
    }

    .section-title2 {
        font-size: 3.2rem;
    }

    .event-title,
    .performance-title {
        font-size: 1.5rem;
    }

    .performance-date {
        font-size: 1rem;
    }

    .event-details,
    .performance-description {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .performances-page {
        padding: 20px 15px;
    }

    .section-title {
        font-size: 24px;
        margin: 30px 0 20px;
    }

    .performance-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}